SignalRWebForm/App_WebReferences/SaveFile/FileSaveAs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadFileAndThumbnail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="SavePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="thumName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Thumbnail" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileAndThumbnailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileAndThumbnailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="SavePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadShoe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fs" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="SavePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadShoeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadShoeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileAndThumbnailSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileAndThumbnail" />
  </wsdl:message>
  <wsdl:message name="UploadFileAndThumbnailSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileAndThumbnailResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadShoeSoapIn">
    <wsdl:part name="parameters" element="tns:UploadShoe" />
  </wsdl:message>
  <wsdl:message name="UploadShoeSoapOut">
    <wsdl:part name="parameters" element="tns:UploadShoeResponse" />
  </wsdl:message>
  <wsdl:portType name="FileSaveAsSoap">
    <wsdl:operation name="UploadFileAndThumbnail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载,图片截取成功与否。</wsdl:documentation>
      <wsdl:input message="tns:UploadFileAndThumbnailSoapIn" />
      <wsdl:output message="tns:UploadFileAndThumbnailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。</wsdl:documentation>
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadShoe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web 服务提供的方法，返回是否文件上载成功与否。</wsdl:documentation>
      <wsdl:input message="tns:UploadShoeSoapIn" />
      <wsdl:output message="tns:UploadShoeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileSaveAsSoap" type="tns:FileSaveAsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFileAndThumbnail">
      <soap:operation soapAction="http://tempuri.org/UploadFileAndThumbnail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadShoe">
      <soap:operation soapAction="http://tempuri.org/UploadShoe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileSaveAsSoap12" type="tns:FileSaveAsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadFileAndThumbnail">
      <soap12:operation soapAction="http://tempuri.org/UploadFileAndThumbnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadShoe">
      <soap12:operation soapAction="http://tempuri.org/UploadShoe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSaveAs">
    <wsdl:port name="FileSaveAsSoap" binding="tns:FileSaveAsSoap">
      <soap:address location="http://114.247.234.229:8081/FileSaveAs.asmx" />
    </wsdl:port>
    <wsdl:port name="FileSaveAsSoap12" binding="tns:FileSaveAsSoap12">
      <soap12:address location="http://114.247.234.229:8081/FileSaveAs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>